body{
    background-color: forestgreen;
}
.safari{
    background-image:url("../images/safari.jpg");
    background-size: 100%;
}
h1{
    font-family: 'Chicle', cursive;
    color: white;
    text-align: center;
    font-size: 60px;
    margin: 10px;
}
#animals{
    text-align: center;
    margin: 10px;
}
button,
div,
form,
input {
  margin: 10px;
}
#animal-form{
    font-family: 'Chicle', cursive;
    text-align: center;
    margin: 10px;
}
#gifArea {
    color:white;
    text-align: center;
   /* clear: both;
	display: inline;*/
	flex-wrap: wrap;
}
.gif {
    float: left;
    margin: 20px;
	display: inline;
}
